@using ProyectoProgra.Clases
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

@page "/Tribuna"
<h3> Compra - VIP</h3>

@if (mensaje != null)
{
    <p><b>@mensaje</b></p>
}

<EditForm Model="boleto" OnValidSubmit="ComprarB">
    <InputText @bind-Value="boleto.nombres" placeholder="Nombres" class="form-control mb-2" />
    <InputText @bind-Value="boleto.apellidos" placeholder="Apellidos" class="form-control mb-2" />
    <InputText @bind-Value="boleto.dpi" placeholder="DPI" class="form-control mb-2" />
    <InputText @bind-Value="boleto.correoElectronico" placeholder="Correo" class="form-control mb-2" />
    <InputNumber @bind-Value="boleto.NumeroAsiento" placeholder="Numero de asiento" class="form-control mb-2" />
    <button class="btn btn-primary" type="submit">Unirse a la cola</button>
</EditForm>

<br />
<h5 class="mt-4">Boletos restantes: @Tribuna.cantidadBoletosTribuna</h5>

@code {
    private Tribuna boleto = new Tribuna();
    private List<Tribuna> tribunas = new List<Tribuna>();
    Compra compras = new Compra();
    string mensaje = "";

    private void Guardar()
    {
        tribunas.Add(boleto);
        localStorage.SetItem("tribunas", tribunas);
        compras.cola_tribuna.Dequeue();
    }

    void ComprarB()
    {
        if (Tribuna.cantidadBoletosTribuna > 0)
        {
            boleto.correlativo = int.Parse(compras.generarCorrelativo(boleto.dpi, 4, boleto.NumeroAsiento));
            compras.cola_tribuna.Enqueue(boleto);
            Tribuna.cantidadBoletosTribuna--;
            localStorage.SetItem("cantidadBoletosTribuna",Tribuna.cantidadBoletosTribuna);
            mensaje = $"✅ Boleto emitido";
            Guardar();
        }
        else
        {
            mensaje = "❌ Boletos agotados.";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Recuperar la lista de starships desde LocalStorage a una variable var
        var boletosTribuna = localStorage.GetItem<List<Tribuna>>("tribunas");

        // Validar si la lista fue recuperada correctamente, copiarla a la lista
        if (boletosTribuna != null)
        {
            tribunas = boletosTribuna;
        }

        var cantidadGuardada = localStorage.GetItem<int>("cantidadBoletosTribuna");
        if (cantidadGuardada > 0)
        {
            Tribuna.cantidadBoletosTribuna = cantidadGuardada;
        }

    }
}
